.App {
    max-width: 600px;
    margin: auto;
}

.container {
    max-width: 85%;
    margin: auto;
}

.header {
    background: hsl(10, 79%, 65%);
    color: hsl(27, 66%, 92%);
    border-radius: 20px;
}

.header-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

h2,
h3 {
    font-size: 18px;
    font-weight: 400;
}

.header p {
    font-size: 26px;
    font-weight: 700;
    margin: 10px 0 20px;
}

.body {
    margin-top: 30px;
    padding: 20px 0;
    border-radius: 20px;
    background: hsl(33, 100%, 98%);
}

.body-wrapper {
    border-bottom: 2px solid #ffe8d6;
}

h1 {
    color: hsl(25, 47%, 15%);
    font-size: 30px;
}

.card {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-end;
    padding: 25px 0;
}

.card-wrapper {
    display: flex;
    flex-direction: column-reverse;
    justify-content: space-between;
    align-items: center;
    width: 80px;
}

.card_body {
    background: hsl(10, 79%, 65%);
    border-radius: 5px;
    width: 50px;
    /*height: heightNum;*/
}

.card_title {
    margin: 10px 0;
}

.card_body:hover {
    opacity: 80%;
}

.amount-wrapper {
    background: hsl(25, 47%, 15%);
    color: hsl(27, 66%, 92%);
    border-radius: 5px;
    padding: 5px;
    min-height: 30px;
    margin-bottom: 10px;
    width: 60px;
    text-align: center;
}

.hidden {
    background: transparent;
}

.amount-biggest {
    background: hsl(186, 34%, 60%);
}

.footer-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.sum-wrapper,
.month-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    padding-top: 25px;
}

.sum-wrapper h2,
.month-wrapper p,
.amount-wrapper p {
    margin: 0;
}

.sum-wrapper p,
.month-count {
    font-weight: 700;
    color: hsl(25, 47%, 15%);
}

.sum-wrapper p {
    margin: 0;
    font-size: 40px;
}